html {
  --accent-color: #f88379;
  --grid-color: rgba(0, 0, 0, 0.1);
  --axis-color: #333;
  --highlight-color: #ff4444;
}

body {
  font: 100%/1.5 system-ui;
  max-width: 60em;
  min-height: 100vh;
  margin-inline: auto;
  padding: 1em;
}

header {
  padding: 2rem 1rem;
  text-align: center;
  color: steelblue;
}

label {
  color: gray;
  display: block;
  margin: 1rem 0;
}

input[type="range"] {
  padding: 1em;
  width: 96%;
  accent-color: var(--accent-color);
}

.map-container {
  position: relative;
  margin: 2rem auto;
  width: 800px;
  height: 500px;
  background: white;
}

#mapCanvas {
  border: 1px solid #ccc;
  display: block;
  position: relative;
  z-index: 1;
}

#overlay {
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
  z-index: 10;
}

.legend-container {
  margin: 2rem auto;
  text-align: center;
  width: 400px;
}

.legend-container h3 {
  margin-bottom: 0.5rem;
  color: var(--axis-color);
}

#legend {
  display: block;
  margin: 0 auto;
}

.pixel-line-graph-container {
  margin: 2rem auto;
  text-align: center;
  width: 800px;
}

#pixelGraph {
  display: block;
  margin: 0 auto;
}

.tooltip {
  position: absolute;
  background: white;
  color: var(--grid-color);
  padding: 6px 10px;
  border-radius: 4px;
  font-size: 12px;
  pointer-events: none;
  display: none;
  z-index: 100;
}


@media (max-width: 850px) {
  .map-container,
  .pixel-line-graph-container {
    width: 95%;
  }

  #mapCanvas,
  #overlay,
  #pixelGraph {
    width: 100%;
    height: auto;
  }
}

.heatmap-and-graph {
  display: flex;
  gap: 1rem;
  justify-content: center;
}

.pixel-line-graph-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

